{{>header}}

<p>This site was created by <a href="https://arashrasteh.com/">Arash Rasteh</a>. It uses data from mapbox.com and darksky.net.</p>

<img src="/img/IMG-20181202-WA0001.jpg" alt="Arash" class="portrait">

{{>footer}}