{{>header}}

<p>This site was created by <a href="https://arashrasteh.com/">Arash Rasteh</a>. It uses data from mapbox.com and darksky.net.</p>

<p><a href="https://www.iconfinder.com/icons/134216/hamburger_lines_menu_icon">Hamburger Menu Icon</a></p>

<p><a href="https://github.com/maxdow/skycons">Skycons</a></p>

<img src="/img/IMG-20181202-WA0001.jpg" alt="Arash" class="portrait">

{{>footer}}