{{>header}}

{{!-- <p>Use this site to get your weather!</p> --}}

<form id="weather-app" >
   <input type="text" placeholder="Location" name="location">
   <button>Search</button>
</form>

<p id="forecast-1"></p>
<p id="forecast-2"></p>

{{>footer}}