</div> <!-- end .main-content -->

<footer>
   <div>
      <a href="https://arashrasteh.com/">Created by {{name}}</a>
   </div>
   
</footer>

{{!-- <script src="/js/main.js"></script> --}}


</body>
</html>