<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <meta name="Description" content="{{metaDescription}}">
   <link rel="icon" href="/img/weather.png">
   <link rel="stylesheet" href="/css/system-font.css">
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/styles.css">
   
</head>
<body>

<header>
   <h1>{{h1}}</h1>

   <div class="menu-bar">
      <img src="/img/iconfinder_menu-alt_134216.svg" alt="menu button" class="menu-button">
      <div class="menu-items">
         <a href="/">Weather</a>
         <a href="/about">About</a>
         {{!-- <a href="/help">help</a> --}}
      </div>
   </div>
</header>

<div id="main-content" class="page-{{title}}">