/* Using Font system-ui from jonathantneal/system-font-css */
body {
   color: #333333;
   font-family: "system-ui", sans-serif;
   font-size: 16px;
   max-width: 650px;
   margin: 0 auto;
   padding: 0 16px;
   
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

div#main-content {
   flex-grow: 1;
}

a {
   text-decoration: none;
}

footer {
   color: #888888;
   border-top: 1px solid #eeeeee;
   margin-top: 1rem;
   padding: 1rem 0;
}

footer a {
   color: #737373;
}

header {
   padding: 1rem 0;
   display: flex;
   align-items: center;
}

header h1 {
   font-size: 1rem;
   flex-grow: 1;
   margin: 0;
}

.menu-bar {
   position: relative;
}

img.menu-button {
   opacity: 0.75;
}

.menu-items {
   position: absolute;
   right: 0;
   padding: 0.5rem;
   border-right: 1px solid #d2d2d2;
   border-left: 1px solid #d2d2d2;
   background-color: white;
   display: none;
}

.menu-bar:hover .menu-items {
   display: block;
}

.menu-items>a {
   color: #737373;
   margin-right: 16px;
   text-decoration: none;
   display: block;
   padding: 0.25rem;
}

.page-About img.portrait {
   width: 250px;
}

input {
   border: 1px solid #cccccc;
   padding: 8px;
}

button {
   cursor: pointer;
   border: 1px solid #888888;
   background: #717171;
   color: white;
   padding: 8px;
}